#######################################
# Telegram API Credentials
#######################################

API_ID=12345678

API_HASH=0123456789abcdef0123456789abcdef

SESSION_STRING=

#######################################
# Telegram Bot
#######################################

BOT_TOKEN=123456789:AAxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

#######################################
# Source Channel
#######################################

# Username or Channel ID
# Example:
# @CoinTelegraph
# -1001234567890

SOURCE_CHANNEL=@sourcechannel

#######################################
# Destination Group
#######################################

# Example:
# -1009876543210

TARGET_CHAT=-1001234567890

#######################################
# Logging
#######################################

LOG_LEVEL=INFO